# Auto detect text files and perform LF normalization
* text=auto
Front:
Body:
Base:

CREATE TABLE Paises (
pais_id SERIAL PRIMARY KEY,
nombre VARCHAR(50) NOT NULL UNIQUE,
codigo_iso CHAR(5) NOT NULL UNIQUE,
lantitud_media NUMERIC(9,6),
longitud_media NUMERIC(9,6),
);

CREATE TABLE FuentesdeEnergia(
fuente_id SERIAL PRIMARY KEY,
Nombre VARCHAR(100) NOT NULL UNIQUE,
Tipo VARCHAR(100) NOT NULL,
factor_emisor NUMERIC (10,4),
);

CREATE TABLE Emisones(
registro_id SERIAL PRIMARY KEY,
pais_id INTEGER NOT NULL,
fuente_id INTEGER NOT NULL,
anio SMALLINT NOT NULL,
Emisores_co2 NUMERIC (20,2) NOT NULL,
produccion_mwh NUMERIC(20,2),
UNIQUE (pais_id, fuente_id, anio), 
FOREIGN KEY (pais_id) REFERENCES Paises(pais_id),
FOREIGN KEY (fuente_id) REFERENCES FuentesEnergia(fuente_id)
);

 CREATE TABLE EventosClimaticos(
Evento_id SERIAL PRIMARY KEY,
pais_id INTERGER NOT NULL,
tipo_de_evento VARCHAR(50) NOT NULL,
fecha_de_inicio DATE NOT NULL,
fecha_fin DATE,
costo_estimado_usd BIGINT,
descripcion TEXT,
FOREING KEY (id_pais) REFERENCES Paises(Paises_id),
);








